<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="py.com.ueno.mowi">
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <application>
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=106772679" />
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
            

        <meta-data
            android:name="install_channel"
            android:value="AppGallery" />
    </application>


</manifest>